.privacyclause {
	img {
		display: block;
		width: 100%;
	}
	a {
		position: fixed;
		bottom: 0;
		width: 100%;
		height: 45px;
		line-height: 45px;
		text-align: center;
		color: white;
		background: #11b57c;
	}
}