#city{
	background:#f4f4f4;
  
	p{
		font-size:15px;
        padding:20px;
        padding-bottom:5px;
	}
   .one{
   	 display:flex;
   	 flex-wrap:wrap;
   	 padding-left:30px;
   	 
   	li{
        margin-left:10px;
   	    margin-right:10px;
   	    margin-bottom:10px;

   	  .vip{
   	     background:white;
   	     color:black;
   	      border:1px #d0d0d0 solid;
   	 }  
   	}
   }
   


   .two{
       width:100%;
      
      .two_a{
        width:100%;
        background:white;
        margin-bottom:10px;
        display:flex;
         flex-wrap:wrap;
        div{ padding-left:5px;}
        p{background:#f4f4f4;display:block;width:100%;font-weight:700;color:darkblue;}
             .two_b{
              background:white;
              color:black;
              border:1px solid white;
              margin-left:10px;
              margin-right:10px;
              margin-bottom:5px;
             }
      }
}




}