#header{
    position: fixed;
    height:40px;
    top: 0px;
    width: 100%;
    background: green;

     li{list-style:none}
     .one{  
            width:60px;
            position:absolute;
            font-size:14px;
            left:11px;
            top:9px;
            color:white;
             overflow:hidden;
             text-overflow:ellipsis;
             white-space:nowrap
    }
 
        input{
            width: 70%;
            height:25px;
            margin-top:5px;
            margin-left:23%;
            border-radius: 20px;
        }
    
}