#header{
    position: fixed;
    height:40px;
    top: 0px;
    width: 100%;
    background: green;

     li{list-style:none}
     .one{
            position:absolute;
            font-size:14px;
            left:11px;
            top:9px;
            color:white
    }
 
        input{
            width: 70%;
            height:25px;
            margin-top:5px;
            margin-left:20%;
            border-radius: 20px;
        }
    
}