#header{
    position: fixed;
    height:50px;
    top: 0px;
    width: 100%;
    background: green;
        input{
            width: 70%;
            height:30px;
            margin-top:10px;
            margin-left:20%;
            border-radius: 20px;
        }
    
}